Schorlaship two project 4/asl (1).json
{"Comment":"A description of my state machine","StartAt":"Lambda Invoke-serialImageData","States":{"Lambda Invoke-serialImageData":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","OutputPath":"$.Payload","Parameters":{"Payload.$":"$","FunctionName":"arn:aws:lambda:us-east-1:569151649977:function:AWSFunction:$LATEST"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException","Lambda.TooManyRequestsException"],"IntervalSeconds":1,"MaxAttempts":3,"BackoffRate":2}],"Next":"Lambda Invoke-classifyImage"},"Lambda Invoke-classifyImage":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","OutputPath":"$.Payload","Parameters":{"Payload.$":"$","FunctionName":"arn:aws:lambda:us-east-1:569151649977:function:AWSFunction2:$LATEST"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException","Lambda.TooManyRequestsException"],"IntervalSeconds":1,"MaxAttempts":3,"BackoffRate":2}],"Next":"Lambda Invoke - inferenceFiltering"},"Lambda Invoke - inferenceFiltering":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","OutputPath":"$.Payload","Parameters":{"Payload.$":"$","FunctionName":"arn:aws:lambda:us-east-1:569151649977:function:AWSFunction3:$LATEST"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException","Lambda.TooManyRequestsException"],"IntervalSeconds":1,"MaxAttempts":3,"BackoffRate":2}],"End":true}}}